@media (max-width: 375px)
{   
    @font-face {
        font-family: "Open Sans";
        src: url("fonts/Open-Sans/OpenSans-Regular.ttf");
    }
    @font-face {
        font-family: "Roboto";
        src: url("fonts/Roboto/Roboto-Regular.ttf");
    }
    @font-face {
        font-family: "RobotoBold";
        src: url("fonts/Roboto/Roboto-Bold.ttf");
    }

    .header{
        display: flex;
        background: #EEEEEE 0% 0% no-repeat padding-box;
        height: 40px;
        width: 100%;
        margin-bottom: 28px;
    }
    .logo-honda img{
        object-fit: contain;
        width: 100%;
        height: 51px;
    }
    .logo-honda{
        margin-bottom: 28px;
    }
    .central-de-atendimento{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .central-de-atendimento p{
        font-family: "Open Sans";
        text-transform: uppercase;
        font-style: italic;
    }
    .central-de-atendimento p:first-child{
        font-size: 16px;
        letter-spacing: -0.7px;
        color: #727B7A;
        line-height: 21px;
        text-align: left;
    }
    .central-de-atendimento p:last-child{
        font-size: 26px;
        letter-spacing: 0px;
        color: #DF0209;
        line-height: 35px;
        text-align: left;
        margin-bottom: 18px;
    }
    .civic-exl{
        display: flex;
        align-content: center;
    }
    .civic-exl img{
        position: relative;
        left: -22px;
        margin-bottom: 7px;
    }
    .civic-10-geracao{
        text-align: center;
        margin-bottom: 40px;
    }
    .form{
        padding-top: 25px;
        margin: 0px 20px 0px 20px;
        width: 334px;
        height: 352px;
        background: #EEEEEE 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 5px #00000029;
        border-radius: 4px;
        opacity: 1;
    }
    .form .form-title{
        display: flex;
        padding-left: 19px;
        margin-bottom: 19px;
    }
    .form .form-title .form-title-collumn{
        flex-direction: column;
        padding-left: 16px;
    }
    .form .form-title .form-title-collumn p{
        font-family: "Open Sans";
    }
    .form .form-title .form-title-collumn p:first-child{
        letter-spacing: 0px;
        line-height: 19px;
        color: #000000;
        font-size: 14px;
    }
    .form .form-title .form-title-collumn p:last-child{
        font-family: "Open Sans";
        color: #DF0209;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 0px;
    }
    .form .form-inputs{
        margin: 0px 20px 0px 20px;
    }
    .form .form-inputs input, select{
        height: 36px;
        margin-bottom: 5px;
    }
    .form .form-inputs select{
        width: 294px;
    }
    .form .form-inputs input{
        width: calc(294px - 8px);
    }
    .form .form-inputs button{
        width: 294px;
        height: 45px;
        background-color: #1CB72A;
        border-radius: 4px;
        color: #FFFFFF;
        font-size: 14px;
        letter-spacing: 0px;
        font-family: "RobotoBold";
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .slogan{
        margin-top: 43px;
        margin-bottom: 14px;
    }
    .slogan p{
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        font-family: "Open Sans";
        letter-spacing: 0px;
        color: #000000;
        text-transform: uppercase;
        font-style: italic;
    }
    .banner-dois-carros{   
        margin: 0px 20px 37px 20px;
    }
    .banner-dois-carros img{
        width: 320px;
        height: 100px;
    }
    .text-info{
        margin: 0px 20px calc(30px * 2) 20px;
    }
    .text-info p{
        text-align: center;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        color: #000000;
    }
    .imagem-dentro-carro{
        width: 100%;
        height: 415px;
        background-image: url('../img/retangulo11.png');
        margin-bottom: 30px;
    }
    .imagem-dentro-carro p{
        color: #FFFFFF;
        letter-spacing: 0px;
        font-family: "Open Sans";
        text-align: center;
    }
    .imagem-dentro-carro p:first-child{
        padding-top: 256px;
        margin: 0px 47px 0px 47px;
        font-size: 24px;
        line-height: 32px;
        font-style: italic;
    }
    .imagem-dentro-carro p:last-child{
        padding-bottom: 28px;
        margin: 0px 34px 0px 34px;
        font-size: 16px;
        line-height: 21px;
    }
    .slider{
        margin: 0px 20px 0px 20px;
        width: 335px;
        height: 236px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #D5D5D5;
    }
    .slider-item{
        padding: 6px;
    }
    .slider-item img{
        width: 323px;
        height: 223px;
        object-fit: contain;
    }
    .slider-buttons{
        display: none;
    }
    /* .slider-buttons a:first-child{
        
    }
    .slider-buttons a:last-child{
        
    } */

    .slider-information{
        margin-top: 7px;
        color: #000000;
        font-family: "Open Sans";
        text-align: center;
    }
    .slider-information p:first-child{
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 10px;
        font-style: italic;
    }
    .slider-information p:last-child{
        font-size: 14px;
        line-height: 19px;
    }
    .banner-honda-acord{
        margin-top: 215px;
    }
    .banner-honda-acord p{
        font-family: "Open Sans";
        color: #000000;
        text-align: center;
    }
    .banner-honda-acord p:first-child{
        margin: 0px 20px 0px 20px;
        letter-spacing: 0px;
        text-transform: uppercase;
        font-style: italic;
        font-size: 24px;
        line-height: 32px;
    }
    .banner-honda-acord p:nth-child(2){
        margin: 10px 20px 0px 20px;
        font-size: 16px;
        line-height: 21px;
    }
    .banner-honda-acord-accordion{
        margin: 10px 20px 10px 20px;
        width: 335px;
        height: 196px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #D5D5D5;
    }
    .banner-honda-acord-button{
        margin: 0px 20px 0px 20px;
        width: 335px;
        height: 36px;
        border: 1px solid #D5D5D5;
        border-radius: 4px;
        color: #000000;
        background-color: #FFFFFF;
        margin-bottom: 50px;
    }
    .find{
        width: 375px;
        height: 339px;
        background: #EEEEEE 0% 0% no-repeat padding-box;
        padding-top: 19px;
    }
    .find-button{
        margin: 0px 52px 10px 52px;
        width: 270px;
        height: 80px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #DF0209;
        border-radius: 5px;
    }
    .find .find-button:first-child {
        display: flex;
    }
    .find .find-button:first-child img{
        width: 27px;
        height: 39px;
        margin: 20px;
    }
    .find .find-button:first-child div{
        flex-direction: column;
        margin-top: 20px;
    }
    .find .find-button:first-child div p:first-child{
        font: 13px "Open Sans";
        letter-spacing: 0px;
        line-height: 19px;
        color: #000000;
    }
    .find .find-button:first-child div p:last-child{
        font: 20px "Open Sans";
        letter-spacing: 0px;
        line-height: 30px;
        color: #DF0209;
        text-transform: uppercase;
    }
    .find .find-button:nth-child(2) {
        display: flex;
        align-items: center;
    }
    .find .find-button:nth-child(2) div{
        margin: 13px 35px 13px 35px;
        flex-direction: column;
    }
    .find .find-button:nth-child(2) div p:first-child{
        font: italic normal normal 16px "Open Sans";
        letter-spacing: -0.7px;
        color: #727B7A;
    }
    .find .find-button:nth-child(2) div p:last-child{
        text-align: left;
        font: italic normal normal 26px "Open Sans";
        letter-spacing: 0px;
        line-height: 35px;
        color: #DF0209;
    }
    .find .find-follow{
        margin: 0px 50px 0px 50px;
        text-align: center;
        font: italic normal normal 18px "Open Sans";
        letter-spacing: 0px;
        color: #000000;
        line-height: 24px;
        text-transform: uppercase;
    }
    .find-icons{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* .find-icons div{

    } */
    .find-icons div .find-icons-circle{
        width: 40px;
        height: 40px;
        background-color: #C5C5C5;
        border-radius: 50%;
    }
    /* .find-icons div .find-icons-circle:nth-child(2){

    } */
        
    

    
    


}